extends layout

block content
    h1 Book
    if isAdd
      actionURL = 'book/new'
    else
      actionURL = `/books/${book.id}/`
    form(method='post' action= actionURL)
      h2.error Oooops!
      ul.error
        li Author is required
        li Name is required
      p
        label(for='title') Title
        input#title(name='title' type='text' value=`${book.title}`)
      p
        label(for='author') Author
        input#author(name='author' type='text' value=`${book.author}`)
      p
        label(for='genre') Genre
        input#genre(name='genre' type='text' value=`${book.genre}`)
      p
        label(for='year') Year
        input#year(name='year' type='text' value=`${book.year}`)
      p
        input(type='submit' value='Submit')
      p
        a.button(href='/books') Cancel

